.App {
  text-align: center;
  font-family: "poppins", sans-serif;

  background-color: #e8e8e8;
}
htnl {
  scroll-behavior: smooth;
}
p {
  color: rgb(0, 0, 0);
}

/* navigation menu */

.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.title {
  font-size: 2rem;
  font-weight: 400;
}
.title:hover {
  cursor: default;
}
.nav-links {
  display: flex;
  gap: 3rem;
  list-style: none;
  font-size: 1.5rem;
}

.nav-link {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

.nav-link:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 0.75rem;
  text-decoration-color: rgb(181, 181, 181);
}

/*hamburger menue test*/
.burger {
  margin: 10px;
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.45s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

/*hamburger menu*/
#hamburger-nav {
  display: none;
}

.hamburgerNav-links {
  display: none;
}

/*hamburger menu visible when screen less than 1000px*/
@media (max-width: 1000px) {
  #hamburger-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  .hamburgerNav-links {
    display: block;
    list-style: none;
    font-size: 1.5rem;
    gap: 3rem;
  }

  #desktop-nav {
    display: none;
  }
}

.intro-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: hsl(0, 0%, 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.circle-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.image-container {
  width: 350px;
  height: 350px;
  margin: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

.linkes {
  display: flex;
  justify-content: space-around;
}

/*larger buttons */
.largebtn {
  width: 210px;
  height: 46px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: black;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.largebtn:hover {
  background-color: white;
  border: solid;
  border-width: 2px;
  color: black;
}

/*smaller buttons */
.smallbtn {
  width: 46px;
  height: 46px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: black;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.smallbtn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}
.giticon {
  height: 25px;
  width: 25px;
}
.linkedicon {
  height: 20px;
  width: 20px;
}

.upperbutton {
  width: 300px;
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.lowerbuttons {
  width: 300px;
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin-top: 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.textone {
  font-size: 1.5rem;
  cursor: default;
  font-weight: 500;
}

.texttwo {
  font-size: 3rem;
  font-weight: 600;
  cursor: default;
}

.textthree {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: default;
}

/*aboutme section*/

.aboutme-container {
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.organization {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slidercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.biocard {
  box-sizing: border-box;
  width: 1020px;
  height: 250px;
  background: white /*#e8e8e8*/;
  border: 3px solid grey;
  border-radius: 17px;
  text-align: center;
  cursor: default;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 7px;
}
.biocard p {
  font-size: 21px;
  line-height: 30px;
  font-weight: 500;
  cursor: default;
  color: rgb(0, 0, 0);
}

.section_label2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
}

@media (max-width: 1300px) {
  .aboutme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .organization {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
}

/*changes for intro section when wraps*/
@media (max-width: 800px) {
  .intro-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
  }
}

/*experience section*/

.skillslabel {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: default;
  margin-bottom: 40px;
}

.experience-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.class-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

.classCard {
  box-sizing: border-box;
  width: 600px;
  height: 400px;
  background-color: white;
  border: solid 1px black;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  padding: 50px;
}
/*project section*/
.project-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.projectContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.skillsbox {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  row-gap: 50px;
}
