.App {
  text-align: center;
  font-family: "poppins", sans-serif;

  background-color: #e7e7e6;
}

p {
  color: rgb(0, 0, 0);
}

/* navigation menu */

.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.barTitle {
  font-size: 3rem;
  font-weight: 400;
  padding-bottom: 18px;
}
.title:hover {
  cursor: default;
}
.nav-links {
  display: flex;
  gap: 3rem;
  list-style: none;
  font-size: 1.5rem;
}

.nav-link {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

.nav-link:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 0.75rem;
  text-decoration-color: rgb(181, 181, 181);
}

/*hamburger menue test*/
.burger {
  margin: 10px;
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
  margin-top: 45px;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.45s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

/*hamburger menu*/
#hamburger-nav {
  display: none;
}

.hamburgerNav-links {
  display: none;
}

/* intro section */
.intro-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: hsl(0, 0%, 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.circle-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.image-container {
  width: 350px;
  height: 350px;
  margin: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

.linkes {
  display: flex;
  justify-content: space-around;
}

/*larger buttons */
.largebtn {
  width: 210px;
  height: 46px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: black;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.largebtn:hover {
  background-color: white;
  border: solid;
  border-width: 2px;
  color: black;
}

/*smaller buttons */
.smallbtn {
  width: 46px;
  height: 46px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: black;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.smallbtn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}
.giticon {
  height: 25px;
  width: 25px;
}
.linkedicon {
  height: 20px;
  width: 20px;
}

.upperbutton {
  width: 300px;
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.lowerbuttons {
  width: 300px;
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin-top: 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.textone {
  font-size: 1.5rem;
  cursor: default;
  font-weight: 500;
}

.texttwo {
  font-size: 3rem;
  font-weight: 600;
  cursor: default;
}

.textthree {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: default;
}

/*aboutme section*/

.aboutme-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  margin-bottom: 40px;
}
.organization {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slidercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bioOrganizer {
  display: flex;
  flex-direction: row;
}
.biocard {
  box-sizing: border-box;
  width: 50vw;
  height: fit-content;
  text-align: center;
  cursor: default;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 7px;
  margin-right: 30px;
}

.biocard p {
  text-align: justify;
  font-size: 21px;
  line-height: 30px;
  font-weight: 500;
  cursor: default;
  color: rgb(0, 0, 0);
  margin: 20px;
  font-weight: 400;
}

.section_label1 {
  width: 50vw;
  text-align: left;
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.section_label2 {
  width: 50vw;
  text-align: left;
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 70px;
  margin-left: 50px;
}

.section_label3 {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 30px;
}

/*experience section*/

.experience-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
.class-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

.classCard {
  box-sizing: border-box;
  width: 600px;
  height: 400px;
  background-color: white;
  border: solid 1px black;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
/*project section*/
.project-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.skillsbox {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  row-gap: 50px;
  justify-content: center;
}

.contact-container {
  height: 200px;
  display: flex;
  align-items: center;
}

@media (max-width: 1300px) {
  .section_label2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 20px;
    width: 90vw;
  }
  .section_label3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
  }
  .aboutme-container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .bioOrganizer {
    flex-direction: column;
    align-items: center;
  }

  .biocard {
    width: 80vw;
    margin-right: 0;
  }

  .experience-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    height: fit-content;
  }
  .projectContainer {
    align-items: flex-start;
  }
  /*Contactme*/
  .contact-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1110px) {
  .project-container {
    height: fit-content;
    flex-direction: column;
  }
  .projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
}
/*hamburger menu visible when screen less than 1000px*/
@media (max-width: 1000px) {
  .burgerTitle {
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 18px;
  }

  #hamburger-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  .hamburgerNav-links {
    display: block;
    list-style: none;
    font-size: 1.5rem;
    gap: 3rem;
  }

  #desktop-nav {
    display: none;
  }
}

/*changes for intro section when wraps*/
@media (max-width: 800px) {
  .intro-container {
    height: fit-content;
    margin-bottom: 80px;
  }
  .textone {
    margin: 2px;
  }
  .texttwo {
    margin: 2px;
  }
  .textthree {
    margin: 2px;
    margin-bottom: 30px;
  }

  .intro-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
  }
  .upperbutton {
    width: 300px;
    display: flex;
    justify-content: space-around;
    height: 40%;
  }
}

/* change format for phone use*/
@media (max-width: 500px) {
  /*buttons */
  .largebtn:hover {
    background-color: black;
    border: solid;
    border-width: 2px;
    color: white;
  }
  .smallbtn:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
  }
  /*into*/
  .intro-container {
    height: 100vh;
  }
  .upperbutton {
    height: auto;
  }
  .image-container {
    width: 200px;
    height: 200px;
  }

  .textone {
    margin: 2px;
    font-size: 1.5rem;
    cursor: default;
    font-weight: 500;
  }

  .texttwo {
    margin: 2px;
    font-size: 3rem;
    font-weight: 600;
    cursor: default;
  }

  .textthree {
    margin: 2px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: default;
  }

  /*bio*/

  .imageCarosel {
    width: 80vw;
  }
  .section_label1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
  }
  .section_label3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
  }
  .section_label2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
  }

  .biocard {
    width: 95vw;
  }
  .biocard p {
    line-height: normal;
    font-size: smaller;
    margin: auto;
  }

  /*skills*/
  .experience-container {
    height: fit-content;
  }

  .skillsbox {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 0 auto;
    row-gap: 20px;
    justify-content: center;
  }

  /*projects*/
  .project-container {
    height: fit-content;
    flex-direction: column;
  }
  .projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  /*Contactme*/
  .contact-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
