.projectCard h2 {
  height: 70px;
}
.projectCard {
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  background-color: white;
  border: solid 1px black;
  backdrop-filter: blur(6px);
  border-radius: 17px;
  padding: 20px;
}
.projectCard p {
  display: flex;
  justify-content: baseline;

  height: 100px;
}
.projectCard h3 {
  display: flex;
  justify-content: baseline;
}
.projectCard ul {
  list-style-type: square;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
