.skillsContainer {
  height: 222px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: baseline;
  text-align: left;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: default;
}
.skillsBumper {
  width: 360px;
}
.skillsContainer:hover {
  width: 360px;
  height: 232px;
}

.skillsContainer:hover svg {
  transition: all 0.3s ease;
  overflow: hidden;
  color: black;
  width: 70px;
  height: 70px;
}
.skillTitle {
  font-size: xx-large;
  font-weight: 500;
}
.skillsContainer svg {
  transition: all 0.3s ease;
  overflow: hidden;
  width: 50px;
  height: 50px;
  color: grey;
  display: "block";
  flex-shrink: 0;
  margin-top: 10px;
}

.skillsContainer p {
  width: 344px;
}

@media (max-width: 500px) {
  .skillsContainer {
    width: 150px;
    height: auto;
  }
  .skillTitle {
    font-size: large;
    font-weight: 500;
  }
  .skillsContainer svg {
    width: 20px;
    height: 20px;
  }
  .skillsContainer p {
    font-size: small;

    width: 150px;
  }
  .skillsContainer:hover {
    width: 160px;
    height: auto;
  }

  .skillsContainer:hover svg {
    transition: all 0.3s ease;
    overflow: hidden;
    color: black;
    width: 40px;
    height: 40px;
  }
}
