.skillsContainer {
  border: 2px solid black;
  height: 222px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: baseline;
  text-align: left;
}
.skillsContainer:hover svg {
  color: black;
  width: 70px;
  height: 70px;
}
.skillTitle {
  font-size: xx-large;
  font-weight: 500;
}
.skillsContainer svg {
  width: 50px;
  height: 50px;
  color: grey;
  display: "block";
  flex-shrink: 0;
  margin-top: 10px;
}
